
<!--<audio id="audio1" #audio1 src="http://mediadownload.ynet.co.il/upl/525/586.mp3">-->
<!--<audio id="audio1" #audio1 src="http://www.canopy.hu/flash/music_orig/Linkin%20Park%20-%20What%20Ive%20Done.mp3">-->


<!--<audio id="audio1" #audio1 [src]="src">-->
  <!--Audio is not supported.-->
<!--</audio>-->
<!--<div>-->
  <!--<input type="button" id="btnPlay" value="Play" onclick="PlayNow()" />-->
  <!--<input type="button" id="btnPause" value="Pause" onclick="PauseNow()" />-->
  <!--<input type="button" id="btnMute" value="Mute" onclick="MuteNow()" />-->
  <!--<input type="button" value="next" (click)="next()"/>-->
  <!--<input type="button" value="prev" (click)="prev()"/>-->
  <!--<br />-->

  <!--Volume :-->
  <!--<input type="range" min="0" max="1" step="0.1" id="volume" #volume-->
         <!--onchange="ChangeVolume()">-->
  <!--<br />-->

  <!--Time lapsed:-->
  <!--<input type="range" step="any" id="seekbar" #seekbar-->
         <!--onchange="ChangeTheTime()">-->
  <!--<label id="lblTime">-:&#45;&#45;:&#45;&#45;</label>-->
<!--</div>-->


<!--<youtube-player-->
  <!--[videoId]="id"-->
  <!--(ready)="savePlayer($event)"-->
  <!--(change)="onStateChange($event)"-->
<!--&gt;</youtube-player>-->
