<!--wrapper-->
<div class="main">
  <div class="logo">
  </div>

  <nav>
    <ul>
      <a routerLinkActive="active" routerLink="/general"><li>Overview</li></a>
      <a routerLinkActive="active" routerLink="/byid"><li>Movie by ID</li></a>
      <a routerLinkActive="active" routerLink="/byname"><li>Movie by Name</li></a>
      <a routerLinkActive="active" routerLink="/bygenyear"><li>Movie by Genre & Year</li></a>
    </ul>
  </nav>

  <div class="clear"></div>
</div>


<!--<ul>-->
<!--<a routerLink="/general"  (click)="onSelect('general')"><li>general</li></a>-->
<!--<a routerLink="/byid"  (click)="onSelect('by_id')"><li>by_id</li></a>-->
<!--<a routerLink="/byname"  (click)="onSelect('by_name')"><li>by_name</li></a>-->
<!--<a routerLink="/bygenyear"  (click)="onSelect('by_genre_year')"><li>by_genre_year</li></a>-->
<!--</ul>-->
