<div class="container">
  <div class="row">
    <div class="col-md-12">

      <router-outlet></router-outlet>

      <!--<app-general-->
        <!--*ngIf="loadedFeature==='general'">-->
      <!--</app-general>-->

      <!--<app-byid-->
        <!--*ngIf="loadedFeature==='by_id'">-->
      <!--</app-byid>-->

      <!--<app-byname-->
        <!--*ngIf="loadedFeature==='by_name'">-->
      <!--</app-byname>-->

      <!--<app-bygenyear-->
        <!--*ngIf="loadedFeature==='by_genre_year'">-->
      <!--</app-bygenyear>-->

    </div>
  </div>
</div>
