<div class="intro">
  <form>

    <div class="btn-group">
      <label class="control-label"  for="name">Movie Name</label>
      <div class="col-lg-6 col-lg-4">
        <input type="text" id="name" class="form-control" #nameInput>
        <small class="text-muted">About Schmidt || Gran Torino || Tough Guys</small>

      </div>
      <button
        class="btn btn-success"
        type="submit"
        (click)="searchItemByName()">Search</button>
    </div>

  </form>
  <app-movie-details
    *ngIf="
      movieEnable;
    else
      hintEmpty"
    [movie]="movieSelectedWithName">

  </app-movie-details>

  <ng-template #hintEmpty>
    <h4>Select a Movie</h4>
  </ng-template>

</div>
